<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | ArticleArchive</title>

    {% block styles %}{% endblock %}
</head>
<body>
    <div class="page-header">
        {% block page_header %}

            <div>
                <a href="{{ url_for('index') }}">Home</a>
                <a href="{{ url_for('sources') }}">Sources</a>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('login') }}">Login</a>
                {% else %}
                    <a href="{{ url_for('logout') }}">Logout ({{ current_user.username }})</a>
                {% endif %}
            </div>
        {% endblock %}
    </div>

    <div class="page-content">
        {% block content %}{% endblock %}
    </div>

    <div class="page-footer">

    </div>

    {% block scripts %} {% endblock %}
</body>
</html>