{% extends 'base.html' %}

{% block app_content %}
    <div class="page-header">
        <h1>{{ document.title }}</h1>
        <p>URL: {{ document.url }}</p>
        <p>DATE: {{ document.created }}</p>
        <p>SOURCE: {{ document.source.name }}</p>
        <p>AUTHOR: {{ document.user.username }}</p>
        <p>TEXT: {{ document.text }}</p>
    </div>
    {% if current_user.is_admin or ( not current_user.is_admin and document.is_editable) %}
        <a href="{{ url_for('document_edit', id=document.id) }}">Edit</a>
    {% endif %}
    {% if current_user.is_admin %}
        <a href="{{ url_for('document_delete', id=document.id ) }}">Delete</a>
    {% endif %}
{% endblock %}
